{% extends 'Users/parent.html' %}


{% block content %}

{% include 'Users/navbars/navbar_user.html' %}
<section data-bs-theme="dark">
    

<form method="post" class="container p-5"  enctype="multipart/form-data" data-bs-theme="dark" action="">
    <h2 class="d-flex justify-content-center mb-5">New Group chat</h2>
    {% csrf_token %}
    <!-- Display any non-field errors -->
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {{ form.non_field_errors.as_text|cut:"* " }}
        </div>
    {% endif %}


    <div class="d-flex align-items-center mb-3 justify-content-center">
        <label for="{{ form.groupchat_name.id_for_label }}" class="form-label me-3 mb-0">Group Chat Name</label>
        {{ form.groupchat_name }}
    </div>
    
    <div class="text-center">
        <button class="btn btn-success mt-2" type="submit">Create Group Chat</button>
    </div>
    

</form>

</section>



{% endblock %}